body{

    background-color: rgb(255, 206, 214);

}

#headiv{


    background-color: rgb(255, 131, 152);
    height: 100px;
    color: white;
    padding-top: 15px;
    border-radius: 10px;
    font-family: Gravitas One;
    text-shadow: 5px 5px 10px pink;
    box-shadow: 5px 5px 10px grey;
}

#parmain{


    margin-top: 400px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
     text-shadow: 5px 5px 10px pink;
     border-style: dashed;
     height: 50px;
     width: 600px;
     padding: 25px;
     border-radius: 50px;


}

#catshade{

    transform: translate(-160px, 5px);


}

#kurheart{

    height: 250px;
    position: fixed;
    transform: translate(-120px);
    
}

#hapcat{

    height: 200px;
    position: fixed;
    transform: translate(-100px, -200px);
    border-style: dashed;
    border-radius: 10px;
    border-color: white;
    box-shadow: 5px 5px 10px grey;


}

#hapcat2{

    height: 200px;
    position: fixed;
    transform: translate(-110px, -200px);
    border-style: dashed;
    border-radius: 10px;
    border-color: white;
    box-shadow: 5px 5px 10px grey;




}
.catpic{


    border-radius: 10px;
    border-style: dashed;
    border-color: white;
    box-shadow: 5px 5px 10px grey;



}

button{


    transform: scale(1.3);
    border-color: white;
    border-radius: 10px;
    color: white;
    background-color: rgb(255, 106, 130);
    padding: 5px;
    width: 100px;
}

#butyes{

    transform: translate(-20px);
    transform: scale(1);

}

.butyes1{

    width: 130px;



}
.butyes2{

     width: 130px;


}
#butno{


    transform: translate(-20px);
    transform: scale(1);
}

iframe{


    background-color: white;
    border-radius: 10px;
    height: 500px;
    width: 500px;



}

.ifrmbod{


    background-color: rgb(252, 170, 201);

}
    
#so{

    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-style: italic;
    text-shadow: 5px 5px 10px;

}

#lastbut{

    transform: translate(-55px);


}

#randomButton{


    transform: translate(-50px);


}

#footr{


    background-color: rgb(255, 131, 152);
    height: 95px;
    border-radius: 10px;
    border-style: dashed;
    border-color: white;
    box-shadow: 5px 5px 10px grey;
    transform: translateY(60px);
    font-family: Gravitas One;
    color: white;
    text-shadow: 5px 5px 10px pink;
    padding-top: 15px;
    font-size: 30px;
}